html,body{
    font-family: var(--fntfamily);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bgcolor)!important;
    color: var(--fntcolor);
   }
   h2{
     font-family: var(--titlefamily);
     letter-spacing: 3px;
    color: var(--titlecolor);
    text-align: center;
   }
   h3{
    font-family: var(--fnt);
    letter-spacing: 2px;
    color: var(--titlecolor);
    text-align: center;
   
   }
   a{
     color: var(--titlecolor);
     text-decoration: none;
     font-weight: bolder;
   }
   i{
    color: var(--titlecolor);
    font-size: 2rem;
  }